@import "../libs/jquery-ui-1.12.1.custom/jquery-ui.min.css";
@import "fonts.scss";
@import "media.scss";
@import '../../../node_modules/@fullcalendar/core/main.css';
@import '../../../node_modules/@fullcalendar/daygrid/main.css';
@import '../../../node_modules/@fullcalendar/core/main.css';
@import '../../../node_modules/@fullcalendar/daygrid/main.css';
@import '../../../node_modules/@fullcalendar/timegrid/main.css';



%padding-margin-zero {
    margin: 0;
    padding: 0;
}

%inline-block {
    display: inline-block;
}

%main {
    font-family: 'GilroyRegular';
    position: relative;
    height: 100%;
    box-sizing: border-box;
}

html {
    @extend %main;
}

.nav-link:hover {
  transition: all 0.4s;
}
.nav-item ul.nav-second-level {
  padding-left: 0;
}
.nav-item ul.nav-second-level > .nav-item {
  padding-left: 20px;
}

.workorder {
  display:none;
}
#filter-date {
  margin: 0;
  padding: 0;
}
#filter-date li {
  display: inline-block!important;
}
#filter-date li input[type="submit"] {
  margin-top: -5px!important;
}
textarea[id$="free"],
input[id$="pricefr"],
label[for$="free"],
label[for$="pricefr"] {
  display: none;
}
textarea[id$="free"].active,
input[id$="pricefr"].active,
label[for$="free"].active,
label[for$="pricefr"].active {
  display: block;
}
label[for$="services_free"] {
  display: block;
}
.b-green {
  background-color: #28a745;
}
.b-red {
  background-color: #dc3545;
}
.b-yellow {
  background-color: #ffc107;
}
b {
   /*font-family: 'GilroyBold';*/
}

.fc-time,
.fc-title {
    color: #fff;
}

.fc-time {
  background-color: #000;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
}

.bg-dark {
  background-color: #000000!important;
}

#dialog {
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  .form-button-edit,
  .form-button-new {
      display: none;
     ul {
        li {
          display: inline-block;
        }
     }
  }
  .form-button-edit.active,
  .form-button-new.active {
      display: block;
  }
}

body {
   @extend  %main;
       main {
              display: flex;
              height: auto;
              min-height: 100%;
              width: 100%;
              position: relative;
              -webkit-font-smoothing: subpixel-antialiased;

               #login {
                 align-items: center;
                 width: 100%;
               }

               #logo {
                   img {
                      width: 200px;
                      height: auto;
                   }
               }
              .navbar-expand-lg {
                  #bars {
                      .fa-bars {
                          color: #ffffff;
                          cursor: pointer;
                          display: none;
                      }
                  }
                  .sidenav {
                      .fa-angle-right {
                        float: right;
                        margin-right: 10px;
                        margin-top: 5px;
                        position: relative;
                        transform: rotate(0deg);
                        transition-property: transform;
                        transition-duration: 1s;
                      }
                      .fa-angle-right-active {
                        transform: rotate(90deg);
                        transition-property: transform;
                        transition-duration: 1s;
                      }
                  }
                  .logout {
                      span {
                        color: #fff;
                      }
                  }
              }

              .content-wrapper {
                  padding: 4.5rem 0;
                  height: 100%;
                  #form {
                      .form-button {
                          ul {
                            @extend  %padding-margin-zero;
                            li {
                              @extend %inline-block;
                            }
                          }
                      }

                      .formItem {
                          position: relative;
                          .autocompleteContainer {
                              background-color: #fff;
                              border: 1px solid #000;
                              border-radius: 10px;
                              display: none;
                              position: absolute;
                              bottom: -115px;
                              padding: 20px;
                              z-index: 99;
                              .autocompleteItem {
                                  cursor: pointer;
                                  padding: 5px;
                              }
                          }
                      }

                      input[id$="pricefr"].form-check-input,
                      label[for$="pricefr"].form-check-label {
                        display: block!important;
                      }
                  }

                  form[name="kiraxe_admincrmbundle_workers"] .form-button + fieldset legend,
                  form[name="kiraxe_admincrmbundle_orders"] .form-button + fieldset legend {
                      display: none;
                  }

                  #show {
                      ul {
                          @extend  %padding-margin-zero;
                          li {
                            @extend %inline-block;
                          }
                      }
                  }

                  #index {
                      ul {
                          list-style-type: none;
                          li {
                            @extend %inline-block;
                          }
                      }
                      table {
                          ul {
                              li {
                                display: block;
                              }
                          }
                      }
                      div.pagination {
                          padding-left: 15px;
                          ul.pagination  {
                              margin-bottom: 0;
                              margin-top: 5px;
                          }
                      }
                  }
              }

              .footer {
                  position: absolute;
                  bottom: 0;
                  width: 100%;
                  height: 3.5rem;
                  line-height: 3.5rem;
                  background-color: #ccc;
              }
       }
}
